:root{
  --body-bg: #222;
  --text-color: #222;
  --title-color: #ddd;
  --border-color: #b37a48
}

body {
  background-color: var(--body-bg);
  background-image: url('/img/black-noise.png');
}

.title {
  text-align: center;
  font-family: 'Cinzel', 'Trajan', 'Trajan Pro', serif;
  font-weight: lighter;
  font-size: 3rem;
}

/*Reset link styles*/
.title a {
  color: var(--title-color);
  text-decoration: none;
}