---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="post paper">
<h1>{{ title }}</h1>

{{ content | safe }}

{%- if author%}
<div class="post-signature">
<img alt="Image of compass rose" src="/img/compass.svg"/>
<span>{{author}}</span>
</div>
{% endif %}
</article>
<ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
