---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="post paper">
<h1>{{ title }}</h1>

{{ content | safe }}

{%- if author%}
<div class="post-signature">
<img alt="Image of compass rose" src="/img/compass.svg"/>
<span>{{author}}</span>
</div>
{% endif %}
</article>
<div class="prev-next">
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<a href="{{ nextPost.url | url }}"><img alt="Left arrow" class="arrow left" src="/img/arrow.svg"/>{{ nextPost.data.title }}</a>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}<img alt="Right arrow" class="arrow right" src="/img/arrow.svg"/></a>{% endif %}
</div>
